html, body, h1, ul, p {
  margin: 0;
}

html {
  background: #171717;
  color: white;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

main {
  width: 80%;
  margin: auto;
}

.filters {
  display: flex;
}
.filter {
  flex-grow: 1;
  margin: 1em 1em;
}
.filter-format {
  margin-left: 0;
  margin-right: 0;
}
.filter h1 {
  background-color: #8d021f;
  text-align: center;
  padding: 0.2em 0.5em;
}
.filter ul {
  background-color: #303030;
  padding: 1em 0;
}
.filter li {
  display: flex;
}
.filter li p {
  margin: auto;
}
.title {
  display: flex;
  font-size: 0.85em;
}
.hr {
  margin: 0em 1em;
  border: 2px solid #8d021f;
  height: 0px;
  align-self: center;
  flex-grow: 1;
}
.tables-search {
  margin: 1em 0em;
}
.tables table {
  width: 100%;
  text-align: center;
}

.tables td, table {
  border: 1px solid white;
  border-collapse: collapse;
}
