api/*.gch
api/*.o
api/*.log
api/http
api/PokerTerminal
api/DebugServer
api/Server
api/rust_package
api/.syntastic_cpp_config
**/*.swp
art/*.png
images/table.png
images/act_buttons.png
images/player_button.png

